.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	/* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	/* Gives that scrolling effect as the typing happens */
	animation: typing 3.5s steps(40, end), blink-caret 0.5s step-end infinite;
	transition: all 0.5s;
}

.typewriter h2 {
	white-space: nowrap; /* Keeps the content on a single line */
	/* Gives that scrolling effect as the typing happens */
	animation: typing 3.5s steps(40, end), blink-caret 0.5s step-end infinite;
	animation-delay: 4s;
}
.text {
	animation: fade-in 3s;
}
/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: rgb(252, 131, 3);
	}
}

@keyframes fade-in {
	from {
		visibility: hidden;
		opacity: 0;
	}
	to {
		visibility: visible;
		opacity: 1;
	}
}
