@tailwind base;
@tailwind components;
@tailwind utilities;

/* use satoshi as a font */
* {
	font-family: "Satoshi", sans-serif;
}

.form-input {
	@apply m-2 w-80 flex flex-col;
}
body {
	background-color: darkslategray;
	overflow-y: hidden;
	overflow-x: hidden;
}

.fade-left {
	animation: fade-left 1s ease-in-out;
}
.form-input {
	@apply m-2 w-80 flex flex-col rounded-lg shadow-lg p-4 bg-white  text-gray-700 font-bold text-xl text-center border-2 border-gray-300;
}

.glass {
	background: rgba(255, 255, 255, 0.06);
	border-radius: 16px;

	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border: 1px solid rgba(255, 255, 255, 0.05);
}
.glass-bg {
	background: rgba(255, 255, 255, 0);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}
@font-face {
	font-family: "Satoshi";
	src: url("public/Satoshi-Regular.otf") format("otf");
	font-weight: 500;
	font-style: normal;
}

@keyframes fade-left {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1a202c;
		color: #fff;
	}
}
@media (prefers-color-scheme: light) {
	body {
		background-color: #fff;
		color: #000;
	}
}

@media (min-width: 768px) {
	.projects {
		overflow-y: hidden;
	}
}
