@tailwind base;
@tailwind components;
@tailwind utilities;

/* use satoshi as a font */
* {
	font-family: "Satoshi", sans-serif;
}
body {
	background-color: darkslategray;

	overflow-x: hidden;
}
@font-face {
	font-family: "Satoshi";
	src: url("public/Satoshi-Regular.otf") format("otf");
	font-weight: 500;
	font-style: normal;
}

@keyframes fade-left {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
